/*  *{
	Gives global control
	}  */

body {
	color: #f6f4f1;
	font: normal 1em/1.5 "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height: 1.5em;
	padding: 0;
	margin: 0;
	background: #756969;
}

.landing::after {
    content: '';
    height: 100vh;
	width: 100%;
	margin-top: 5em;
    background-image: url(bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(0px);
    transition: all 1000ms;
}

.landing:hover::after {
    filter: blur(10px);
}

.landing:hover .content {
    filter: blur(0px);
}

.content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 10em;
    margin-left: -10em;
    width: 20em;
    height: 10em;
    text-align: center;
    filter: blur(2px);
    transition: all 1000ms;
}

.content .head {
    height: 10em;
	border: .5em #3c4c5c solid;
	border-radius: 2em;
}

.content .landingTXT {
    font-size: 2.2rem;
	margin-top: 1rem;
	color: #605b4f;
	line-height: 1em;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #f6f4f1;
	font-size: 1.1em;
}

a:hover {
	color: #ee3955;
	font-weight: bold;
}

a:active {
	color: #ffc332;
	font-weight: bold;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

header {
	background-color: #3c4c5c;
    z-index: 2;
	padding-top: 2em;
	min-height: 5em;
	width: 100%;
	border-bottom: #ffc332 .5em solid;
	position: fixed;
	top: 0;
}

header li {
	float: left;
	display: inline;
	padding: 0em 1em 0em 1em;
}

header a {
	color: #ffc332;
}

#mainTitle {
	float: left;
}

#mainTitle h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 1em;
}

header .highlight, header .current a {
	color: #e25402;
	font-weight: bold;
}

#hideIt {
	color: #3c4c5c;
}

.siteTop {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.objClas-1 {
	background-color: #3c4c5c;
	width: 80%;
	border: .5em #3c4c5c solid;
	border-radius: 2em;
	padding: 1em;
	margin: auto;
	margin-top: 7em;
	margin-bottom: 7em;
}

.welcoming {
	margin-top: 0em;
}

.objClas-2 {
	width: 50%;
	padding: 1em;
	margin: auto;
	margin-top: 7em;
	margin-bottom: 7em;
}

.copyR {
	background-color: black;
	color: white;
	text-align: center;
	text-shadow: 4px 2px 2px rgb(253, 105, 130);
	width: 100%;
	padding: 1em;
	position: fixed;
	bottom: 0;
}

/* Dictates what happens when the screen is small enough */

@media(max-width: 768px) {
	.landing::after, .landing:hover::after {
		filter: blur(10px);
	}
	.content {
		filter: blur(0px);
	}
	.content .landingTXT {
		color: black;
		text-shadow: whitesmoke -2px -2px .2em;
	}
	header #mainTitle,
	header nav,
	header nav li{
		float: none;
		text-align: center;
		width: 100%;
	}
	header{
		padding-bottom: 1em;
	}

	header li{
		margin: 1em 0em 1em 0em;
	}
	.objClas-1 {
		margin-top: 10em;
	}
	.welcoming {
		margin-top: 0;
	}
	.objClas-2 {
		width: 90%;
		margin-top: 10em;

}