body{
	background-color: #e3ddc5;
	color: #123e61;
	font: normal 16px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height: 1.5em;
	width: 80%;
	margin: auto;
}
.objClas-1{
	background-color: #bada55;
	margin: 1em;
	padding: 1em;
}
.objClas-2{
	/* background-color: #bada55; */
	margin: 1em;
	padding: 1em;
}
